// Primary colour
$primary-color: rgb(9, 204, 113);

.basket-wrapper {
	position: absolute;
	top: 0;
	right: 0;
  bottom: 0;
	background: $primary-color;
	min-height: 100vh;
	width: 25%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;	
	z-index: 1;
  padding: 60px 30px;
  text-align: left;

  h2 {
    font-size: 2.5rem;
  }

  button {
    font-size: 1rem;
    color: #fff;
    background: rgb(33, 126, 82);
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 15px 30px;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
  }
}

.basket-main-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;  
}

.basket-total {
  display: flex;
  justify-content: space-between;
}

.basket-list-item {
  display: flex;
  // justify-content: space-between;
  align-items: center;

  button {
    margin: 0;
    padding: 0;
    background: transparent;    
    border: none;
    width: 25px;
    height: 30px;
    margin-left: auto;    

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.list-item-img img {
  width: 50px;
}

.list-item-title {
  margin-left: 40px;

  h5 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
}

.list-item-price {
  display: flex;
  align-items: center;

  img {
    width: 30px;
  }
  
  p {
    margin-left: 20px;
  }
}

hr {
  margin: 20px 0;
  border: 1px solid #000;
}
