// Primary colour
$primary-color: rgb(9, 204, 113);

.checkout-wrapper {
	width: 100%;
	min-height: 100vh;
	background: $primary-color;
}

.checkout-logo-section {
	display: flex;
	padding: 0 5%;
	height: 200px;
	background-color: #444;

	div {
		margin: 50px 0;
		max-width: 300px;
	}

	img {
		width: 100%;
	}
}

.checkout-products {
	max-width: 800px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.go-back-btn {
	width: 150px;
	font-size: 1rem;
	color: #fff;
	background: #000;
	margin-top: 20px;
	margin-bottom: 100px;
	padding: 15px 30px;
	border-radius: 50px;
	cursor: pointer;
	outline: none;
}
