* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;            
}

.xanda-react-trial {
	text-align: center;
	// padding: 20px;
	font-family: 'Helvetica';

	h1 {
		font-size: 24px;
		color: #81B4DE;
	}
}

.main-wrapper {
	position: relative;
}

@import "./header";
@import "./basket";
@import "./games";
@import "./gameCard";
